---
layout: default
title: Home
permalink: /
---

<div class="container content">
    <div class="title">
        <h1>{{page.title}}</h1>
    </div>
    <div class="post-intro">
        <p>Welcome to the RXDS Online Process and Procedures Manual. Here you will find all the resources you need for
            processing digital files.</p>

        <p>Tips and Tricks as well as full blog posts will be added as processing issues are brought to our attention.
            Be sure to look at the blog section for possible solutions to any issues you may have encountered. If the
            issue is not there, please feel free to email us with your issue so that we can post on a possible
            solution. </p>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h1><a href="{{site.baseurl}}/tutorials">Tutorials</a></h1>

            {% assign items = site.tutorials | sort: 'name' | reverse %}
            {% for page in items limit:3 %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ page.title }}</h3>
                </div>
                <div class="panel-body">
                    {{ page.excerpt }}
                    <a href="{{ page.url | prepend:site.baseurl }}">Start Tutorial</a>
                </div>
            </div>
            {% endfor %}
            <a class="btn btn-default" href="{{site.baseurl}}/tutorials">See More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="col-sm-6">
            <h1><a href="{{site.baseurl}}/blog">Blog</a></h1>

            {% for page in site.posts reversed limit:3 %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ page.title }}</h3>
                </div>
                <div class="panel-body">
                    {{ page.excerpt }}
                    <a href="{{ page.url | prepend:site.baseurl }}">Start Tutorial</a>
                </div>
            </div>
            {% endfor %}

            <a class="btn btn-default" href="{{site.baseurl}}/blog">See More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>

</div>