<!DOCTYPE html>
<html >
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>RXDS Manual</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="{{site.baseurl}}/assets/css/rxds-style.css">
	</head>
	<body>
		{% include navbar.html %}

		<div class="container">
			 <h1>{{page.title}}</h1>
			<div class="row">
				<div class="col-xs-12">
					{{ content }}
				</div>

			</div>


			<div class="row">
				<div class="col-xs-12 btn-toolbar">
					{% if page.next.url %}<a class="pull-right btn btn-default" href="{{page.next.url | prepend:site.baseurl }}">Next</a>{% endif %}
					{% if page.previous.url %}<a class="pull-right btn btn-default" href="{{page.previous.url | prepend:site.baseurl }}">Previous</a>{% endif %}
				</div>
			</div>
			<h1></h1>
		</div>

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	</body>
</html>